<meta charset="utf-8">
<title>
    @if (ViewBag.Title?.Length > 0)
    {
        <text>@ViewData["Title"] - @ViewData["Category1"] </text>
    }
</title>
<base href="~/" />
<meta name="description" content="@ViewBag.Title">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="msapplication-tap-highlight" content="no">
<link id="vendorsbundle" rel="stylesheet" media="screen, print" href="~/css/vendors.bundle.css">
<link id="appbundle" rel="stylesheet" media="screen, print" href="~/css/app.bundle.css">
@*<link id="mytheme" rel="stylesheet" media="screen, print" href="~/css/themes/cust-theme-3.css">*@
<link id="mytheme" rel="stylesheet" media="screen, print" href="~/css/themes/cust-theme-1.css">
<link id="myskin" rel="stylesheet" media="screen, print" href="~/css/skins/skin-master.css">
<link rel="stylesheet" media="screen, print" href="~/css/site.css">

<link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
<link href="~/css/devextreme/dx.light.css" rel="stylesheet" />


@*<script src="~/assets/plugins/jquery/jquery-3.3.1.min.js"></script>*@
@*<script src="~/js/jquery-3.3.1.min.js"></script>*@


<script src="~/js/vendors.bundle.js"></script>
@*<script src="~/js/devextreme/jquery.js"></script>*@




<script src="~/js/jquery.unobtrusive-ajax.js"></script>

<script src="~/js/devextreme/cldr.js"></script>
<script src="~/js/devextreme/cldr/event.js"></script>
<script src="~/js/devextreme/cldr/supplemental.js"></script>
<script src="~/js/devextreme/cldr/unresolved.js"></script>

<script src="~/js/devextreme/globalize.js"></script>
<script src="~/js/devextreme/globalize/message.js"></script>
<script src="~/js/devextreme/globalize/number.js"></script>
<script src="~/js/devextreme/globalize/currency.js"></script>
<script src="~/js/devextreme/globalize/date.js"></script>

<script src="~/js/devextreme/dx.all.js"></script>
<script src="~/js/devextreme/vectormap-data/world.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
<partial name="_Favicon" />
